/* .container{
    height:100%;
    width:100%;
}
.main{
    margin-top:10px;
} */
/* .container .main{
overflow-y: auto ;
 max-height: 400px;
} */
.scrool{
    overflow-y: auto ;
 max-height: 500px;
 background: rgba(0,0,0,0.6);
 height: 100%;
 max-height: 100%;
 width: 100%;
 overflow: scroll;
}
