  <div class="container">
        <div class="row">
            <div class="col-sm-12"style="text-align:end;margin-top:10px;cursor:pointer;font-size:larger">
            </div>
                <div class="main scrool">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d109768.38615756485!2d76.60366227618077!3d30.711032182638622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x390fefaaa4a7fc21%3A0xf66a04b4a94e20ac!2sD-185%2C%20Sector%2074%2C%20Sahibzada%20Ajit%20Singh%20Nagar%2C%20Punjab%20160055!3m2!1d30.7110582!2d76.6860636!5e0!3m2!1sen!2sin!4v1713417917652!5m2!1sen!2sin" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
            </div>
    </div>
   
