<nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/LOGO_BIOECO-removebg-preview.png" alt="Logo" width="60" height="80"  class="img-fluid" style="margin-left:60px" >
        <span class="company-name">
          BioEco Vendors India Pvt. Ltd.
        </span>
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#/home">
              <span class="glyphicon glyphicon-home"></span>
              <span [ngClass]="{'active': isRouteActive('/home')}">Home</span>
            </a>
          </li>
          <li class="nav-item "routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="/about">
              <span [ngClass]="{'active': isRouteActive('/about')}">About</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink= "/services" >
              <span [ngClass]="{'active': isRouteActive('/service')}">Service</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/contact">
              <span [ngClass]="{'active': isRouteActive('contact')}">Contact</span></a>
          </li>    
      </ul>
    </div>
    </div>
  </nav>