.company-name {
  margin-left: 15px;
  font-weight: bold;
  font-size: 18px; 
  line-height: 1.2; 
  color: #ec0b0b; 
  white-space: nowrap; 
}
.collapse{
  margin-left:40px;
}
.icons{
  display:flex;
  justify-content: space-evenly;
}
.text-primary{
  color: black;
}
.container-fluid{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffff0070;
  border-bottom: 5px solid #ffff0070;
    }
   
.navbar{
    padding:0;   
}
.active{
    color:rgb(255 59 57 / 91%);
    text-decoration: underline;
  }

  .btn{
    width: 100px;
    height: 50px;
    background-color: #161514;
    font-family: inherit;
    font-size: 12px;
    border: 1px solid;
    color: wheat;
    text-transform: uppercase;
    text-align: center;
  }
  .navbar-nav{
    gap:25px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #fff5f5;
    text-transform: uppercase;
  }
 
