





















































































































<!-- <div class="main">
  <div class="container-fluid">
    <div
      class="row image"
      style="background-image: url(../../assets/background-image23.jpg)"
    >
      <div class="col title">
        <h1>About Us</h1>
      </div>
    </div>
    <div class="container top">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="col">
            <img
              src="../../assets/hire-truck-in-tullamarine.jpg"
              alt
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="col trucks">
            <h3>
              Welcome to the
              <span class="xtra">Deol Car & Truck Rental </span>
            </h3>
          </div>
          <div class="col">
            <p class="paragraph">
              Welcome to Deol Car &amp; Truck Rentals. Before we proceed
              forward, introducing our self to you, we would like to thank you
              all for your continuous support and believing in us and our
              services throughout. Recognized as one of the
              <strong>
                Best Truck and Car Rental Service Providers in Australia</strong
              >
              Besides, we always made it a point to keep things seamless and
              quick for our customer while offering them reasonably priced
              vehicle services.
              <br />
              With over 200+ vehicles in Australia, each of our vehicles is
              environmentally friendly and well maintained, without compromising
              to customers’ safety and security. Moreover, what set us apart
              from our competitors is our selection of vehicles. Being the
              founder of Deol Rentals, we chose one of the finest brands –
              Isuzu, which we believed would accompany us in customers’ journey
              for long
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container top">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="col">
            <h1><strong>Why we are best in Market</strong></h1>
          </div>
          <div class="col price">
            <ul  class="navbar-nav">
              <li class="text">
                <span class="me-3">
                    <ion-icon name="checkmark"></ion-icon> </span
                >Reasonable Priced Services
              </li>
              <li class="text">
                <span class="me-3">
                    <ion-icon name="checkmark"></ion-icon> </span
                >No Hidden Charges
              </li>
              <li class="text">
                <span class="me-3">
                    <ion-icon name="checkmark"></ion-icon> </span
                >Flexible Pick-Up Locations
              </li>
              <li class="text">
                <span class="me-3">
                    <ion-icon name="checkmark"></ion-icon> </span
                >Great Availability of Vehicles Across Range
              </li>
              <li class="text">
                <span class="me-3">
                    <ion-icon name="checkmark"></ion-icon> </span
                >In-House Workshop
              </li>
              <li class="text">
                <span class="me-3">
                    <ion-icon name="checkmark"></ion-icon> </span
                >Well Maintained Vehicles
              </li>
              <li class="text">
                <span class="me-3">
                    <ion-icon name="checkmark"></ion-icon> </span
                >Unlimited Kilometres
              </li>
              <li class="text">
                <span class="me-3">
                    <ion-icon name="checkmark"></ion-icon> </span
                >Special Price for Uber & Uber eats Cars
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <img
            src="../../assets/hire-delivery-truck2ndrow.jpg"
            alt
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <div class="container top">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <img
            src="../../assets/deol-car-truck-rentalrow3.jpeg"
            alt
            class="img-fluid"
          />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="col">
            <h3>
              <strong>How Does Our Team Work</strong>
            </h3>
          </div>
          <div class="col">
            <p class="paragraph">
              Our entire team has been working hard for many years. An extensive
              training is provided to newbies as well as professionals to make
              them aware of how the ecosystem needs to work from time to time.
              Our dedicated team of members then take it as their responsibility
              to assure each customer is offered the desired services. Also, if
              in case, they leave unsatisfied, it is their duty to assist them
              in the best possible way in their next journey. After all,
              customers are our assets.
            </p>
          </div>
          <div class="col top">
            <h5>
                <strong>What We Do Make Your Journey Smooth?</strong>
            </h5>
            <div class="col">
                <ul class="smooth">
                    <li>
                        We have purchased a unique collection of vehicles
                    </li>
                    <li>
                        We have appointed a robust team of the finance department
                    </li>
                    <li>
                        We have introduced numerous offers on the website for broad choices
                    </li>
                    <li>
                        We give timely maintenance to vehicles for your safe journey on a road
                    </li>
                    <li>
                        We aim to provide you with the best service that exceeds your expectation
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div> -->
