.reserve{
    background-size: cover;
    background-color: #8f9fad;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
}
.reserveClass{
    padding-top: 40px;
    font-family: Montserrat, sans-serif;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
}

.about{
    margin-top: 60px;
}
.upperheading{
    margin-bottom: 30px;
}
.top{
    position: relative;
    min-height: 54px;
    height: 54px;
    background: rgba(42, 64, 69, .5);
    padding-left: 54px;
}
.heading{
    position: absolute;
    left: 0;
    top: 0;
    width: 54px;
    height: 100%;
    background-color: #2a4045;
    line-height: 54px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #f0c540; 
}
.add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.addon{
    margin-right: 10px;
    flex: 1;
    min-width: 100px;
}
.heading2{
    padding: 17px 0 0 17px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.main{
    max-height: 307px;
    min-height: 307px;
    overflow: auto;
    padding: 25px 30px 35px;
    background: #fff;
}
.paragraph{
    min-height: 63px;
    margin-bottom: 20px;
}
.middle{
    position: relative;
    min-height: 54px;
    height: 54px;
    background: rgba(42, 64, 69, .5);
    padding-left: 54px;
}
.number{
    position: relative;
    min-height: 54px;
    height: 54px;
    background: rgba(42, 64, 69, .5);
    padding-left: 54px;
}
.numberheading{
    position: relative;
    min-height: 54px;
    height: 54px;
    background: rgba(42, 64, 69, .5);
    padding-left: 54px;
}
.main2{
    background-color: #f0c540;
}
.basic{
    height: 71%;
    min-height: 206px;
    padding: 25px 30px 35px;
    background: #fff;
}
.concept{
    min-height: 63px;
    margin-bottom: 20px;
}
.data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.handle{
    padding: 17px 0 0 17px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.fill{
    min-height: 63px;
    margin-bottom: 20px;
}
.active{
    background-color:#F0C540;
}
.inner-1{
    margin-bottom: 20px;
}
