<div class="reserve" style="background-image: url(../../assets/placeholder-1.gif);">
    <div class="col reserveClass">
        <h1>RESRVATION</h1>
    </div>
    <div class="container about">
    <div class="row">
      <div class="col-sm-12 col-md-4">
            <div class="upperheading">
              <div>
                <div class="top">
                  <h5 class="heading">1</h5> 
                  <h5 class="heading2">Your Itinerary</h5> 
                </div>
                <div class="main" >
                  <div class="paragraph">
                    <h5>Pick Up</h5>
                    <div>{{pickupLocation?.name | titlecase }}</div>
                    <div>{{pickupDate | date:'medium'  }}</div>
                  </div> 
                    <div class="paragraph2">
                     <h5>Drop off</h5>
                     <div>{{ dropLocation?.name |titlecase}}</div> 
                     <div>{{dropdate | date:'medium'}}</div>  
                    </div>                 
                </div>
              </div>  
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="upperheading">
              <div>
                <div class="top">
                  <h5 class="heading">2</h5> 
                  <h5 class="heading2">Select Vehicle/Add-ons</h5> 
                </div>
                <div class="main" [ngClass]="{'active': isRouteActive('/addons') || isRouteActive('/reservation')}">
                  <div class="paragraph">
                    <h5>{{selectedAddOnsdata?.categoryName}}</h5>
                    <div class="col">
                      <ul class="add">
                        <li *ngFor="let item of addList">
                        {{item.addOn
                        }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="paragraph2">
                    <h5 class="ms-4">Add-ons</h5>
                    
                    <div class="col">
                      <ul class="add">
                        <li class="addon" *ngFor="let item of selectedAddOns">
                          {{item.addOn}}
                        </li>
                      </ul>
                    </div>
                  
                  </div>                    
                </div>
              </div>  
            </div>
        </div>
      
        <div class="col-sm-12 col-md-4">
            <div class="inner-1">
                <div class="top">
                    <h5 class="heading">3</h5> 
                    <h5 class="heading2">Reserve Your Vehicle</h5> 
                  </div>
                <div class="main" [ngClass]="{'active': isRouteActive('/checkout')}">
                    <div class="fill">
                       <h5>Your Information</h5> 
                       <div>__</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>



    <!-- <div class="album py-5 reserves" [ngStyle]="{'background-image': 'url(' + reservationBgImage + ')'}">
      <div class="about-title">
          <h1>RESERVATION</h1>
      </div>
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
              <div class="card mb-3 bg-transparent h-100" style="min-height: 225px;">
                  <div class="card-header heading">
                      <div class="col d-flex">
                          <div class="number">1</div>
                          <div class="label-item">Your Itinerary</div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="first">
                          <h6 class="card-title pickname">PICK UP</h6>
                          <div class="pick">{{pickupLocation?.name}}</div>
                          <div class="pick">{{pickupDate | date:'short'}}</div>
                      </div>
                      <div class="second">
                          <h6 class="card-title pickname">DROP OFF</h6>
                          <div class="pick">{{dropdownLocation ?.name}}</div>
                          <div class="pick">{{dropdate | date:'short'}}</div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card mb-3 bg-transparent h-100" style="min-height: 225px;">
                  <div class="card-header heading">
                      <div class="col d-flex">
                          <div class="number">2</div>
                          <div class="label-item">Select Vehicle/Add-ons</div>
                      </div>
                  </div>
                  <div class="card-body" style="background-color: white;"  [ngClass]="{'active': isRouteActive('/addons') || isRouteActive('/reservation')}">
                      <div class="first">
                          <h6 class="card-title pickname">{{vehicleName?.categoryName || '--'}}</h6>
                          <ul class="add-on-list">
                              <li *ngFor="let addOn of addList">{{addOn.addOn}}</li>
                          </ul>
                      </div>
                      <div class="third">
                          <h6 class="card-title pickname">Addons</h6>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card mb-3 bg-transparent h-100" style="min-height: 225px;">
                  <div class="card-header heading">
                      <div class="col d-flex">
                          <div class="number">3</div>
                          <div class="label-item">Reserve Your Vehicle</div>
                      </div>
                  </div>
                  <div class="card-body" style="background-color: white;" [ngClass]="{'active': isRouteActive('/checkout')}">
                      <h6 class="card-title">YOUR INFORMATION</h6>
                  </div>
              </div>
          </div>
  
        </div>
      </div>
    </div> -->