.image{
    background-size: cover;
    background-color: #8f9fad;
    background-position: 50% 0;
    min-height: 222px;
}
.about{
    margin: auto;
    font-family: Montserrat, sans-serif;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 36px;
}
.top{
    margin-top:50px;
}
.message{
    font-family: Montserrat, sans-serif;
    margin-bottom: 13px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}
.btn{
    padding-left: 43px;
    padding-right: 43px;
    background-color: #273f44;
    box-shadow: 0 2px 0 #1f3236;
    color: white;
}
.dark{
    font-family: Montserrat, sans-serif;
    margin-bottom: 13px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}
.error-input{
    color:red;
}
.outer{
    border-radius: 15px;
    border: 1px solid #050400 !important;
    margin: 30px 13px;
    padding: 40px 36px;
}
.select{
    font-family: Montserrat, sans-serif;
    margin-bottom: 13px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}
.form-select{
    border:1px solid black!important;
 }
 .form-control{
    border:1px solid black!important;
 }