<div class="main">
  <div class="container-fluid">
    <div
      class="row image"
      style="background-image: url(../../assets/contactus.jpg)"
    >
      <div class="col about">
        <h1>Contact Us</h1>
      </div>
    </div>
    <div class="container top">
      <div class="row">
        <div class="col-12">
          <h1>
            <strong>Contact US</strong>
          </h1>
        </div>
        <div class="outer row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="col">
              <form [formGroup]="contactform" (ngSubmit)="onSubmit()">
                <div class="col">
                  <label class="form-label select">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    required
                  />
                  <div
                    class="error-input"
                    *ngIf="contactform.get('name')?.invalid && iscontactForm"
                  >
                    Name is required.
                  </div>
                </div>
                <div class="col mt-4">
                  <label class="form-label select">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    required
                  />
                  <div
                    class="error-input"
                    *ngIf="contactform.get('email')?.invalid && iscontactForm"
                  >
                    Email is required.
                  </div>
                </div>
                <div class="col mt-4">
                  <label class="form-label select">Phone Number</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    formControlName="phone"
                    required
                  />
                  <div
                    class="error-input"
                    *ngIf="contactform.get('phone')?.invalid && iscontactForm"
                  >
                    Invalid phone number format.
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <form [formGroup]="contactform" (ngSubmit)="onSubmit()">
              <div class="col">
                <label class="form-label select">Your Message</label>
                <textarea
                  formControlName="message"
                  rows="10"
                  cols="80"
                  placeholder="Enter your message..."
                  class="form-control"
                  required
                ></textarea>
                <div
                  class="error-input"
                  *ngIf="contactform.get('message')?.invalid && iscontactForm"
                >
                  Message is required.
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 mt-4">
            <button type="submit" class="btn">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container"style=text-align:center>
  <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=sector+119+balongi+jh+homes&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.analarmclock.com"></a><br><a href="https://www.onclock.net"></a><br><style>.mapouter{position: relative;text-align: right;height: 560px;width: 820px;}</style><style>.gmap_canvas{overflow: hidden;background: none !important;height: 560px;width: 820px;}</style></div></div>
</div>
</div>
