
.school{
    position: absolute;
        top:5%;
        left:10%;
        font-weight: 700px;
   }
   .heading{
    font-family: Montserrat;
    font: size 2.55rem;;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align:center;
    color:black;
    /* color:#e7e1e1; */
    padding:35px 4px 8px;
}
.text-color{
    font-family: Montserrat, sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.55rem !important;
   background-color:#ffffff57;
   text-align:center;
}
.top{
    margin-top:50px;
}
.trucks{
    color: #000;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    font-family: Roboto, sans-serif;
    letter-spacing: .009375em;
    margin: auto;
}
.xtra{
    color: #f0c540;
}
.paragraph{
    font-family: Montserrat, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    margin-top: 20px;
}
.price{
    margin-top:20px;
}
.text{
    font-family: Montserrat, sans-serif;
    color: #000;
}
.xtra{
    color: #f0c540;
}
.home{
    color: #000;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    font-family: Roboto, sans-serif;
    letter-spacing: .009375em;
    margin: auto;
}
.smooth{
    font-family: Montserrat, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 22px
}
.img-fluid {
    max-width: 100%;
    height: 400px;
}
@media only screen and (max-width:650px) and (min-width:120px){
    .school{
        position:absolute;
        left:0px;
    }
}













/* .imageClass{
    padding: 45px 14px;
    padding-bottom: 0 !important;
    background-size: cover;
    background-position: center;
    border-top: 1px solid #D9D9D9;
}

.heading{
    font-family: Montserrat;
    font: size 2.55rem;;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:#000;
    padding:35px 4px 8px;;
}
.box{
    border: 2px solid #D9D9D9;
    border-radius: 10px;
}
.main-box{
    margin-top:1.5rem;
}

.text-color{
    font-family: Montserrat, sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.55rem !important;
    color: #f0c540;
    text-align: center;
}
.choose{
    text-align: center;
   font-family: Montserrat, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.7rem;
    color: #000;
}

.mainclass{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 357px;
    color: white;
    padding:0 6px;
}
.text{
    text-align:justify;
}
.text-client{
    position:absolute;
    top:52px;
}
.slider{
    position: relative;
    z-index: 7;
    top: 50%;
    left: 42px;
}
.colorcard{
 border:3px solid #F0C540;
}
.climage{
    justify-content: center;
    align-items: center;
}
.clientImage{
    justify-content: center;
    align-items: center;
}
.reviewiconright{
    position: relative;
    z-index: 7;
    top:50%;
    right:30px;
   }
.rowwidth{
    
    position:absolute;
    top:40%;
     left:40%;
}
.clientimage{
    border-radius: 10px;
}
.colorbuttton{
    width: 230px;
    background-color:#F0C540;
    height:50px;
    margin-left: 20px;
}
.style{
    margin-left:100px;
}
.detail{
color:#F0C540;
}

.client{
    position:relative;
}


.image{
height:100%;
padding: 20px 5px;
padding-bottom: 0 !important;
background-size: cover;
background-position: center;
margin-top: 50px;
}
.heading-1{
    font-family: Montserrat, sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
    color: #000;
}
.paragraph{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #000;
}
.btn{
    width:218px;
    background-color:#F0C540;
    height: 50px;
}
.location1{
    padding-left: 14px !important;
    padding-right: 14px !important;
}
.mountain{
    display: flex;
    flex-direction: column;
}
.location{
    border: 1px solid black;
    border-radius: 5px;
    background-size: cover;
    background-position:center;
    flex-direction: column;
    justify-content: space-between;
    padding:0rem !important;
    height:425px;
}
.arrow{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #fff;
}
.imagevector{
    margin:13px;
    height:21px;
}
.clientContainer{
    position:relative;
}
.lighttitile{
    color:black;
    font-size: 45px;
    opacity: .1;
}

.error-input {
    color: red;
    }  
    .invalid-input{
      border-color: red;
     } 
     .toastr.error {
        background-color: #BD362F !important;
      }
      .carousel-content{
        position: absolute;
        top:5%;
        left:10%;
        font-weight: 700px;
    }
    @media only screen and (max-width:780px) and (min-width:120px){
        .carousel-content{
            position:relative;
            top:15%;
            left:0%;
        }
      }



@media only  screen and (max-width: 940px) and (min-width: 120px){
.style{
    margin-left:0px;
}
}   
   
    @media only screen and (max-width:1024px) and (min-width:120px){
        .rowwidth{
            position:relative;
            top:15%;
            left:-3%;
        }
      } */
     
      /* @media only screen and (min-width: 240px) and (max-width: 812px) {
                .reviewiconright  {
                position: relative;
                z-index: 7;
                top: 50%;
                right: 15px;
                }
            } */
