
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div
      *ngFor="let image of image; let i = index"
      [class]="
        i === currentSlideIndex ? 'carousel-item active' : 'carousel-item'
      "
    >
      <img
        [src]="image.url"
        [alt]="image.alt"
        class="d-block w-100"
        style="height: 600px"
      />
    </div>
  </div>
  <div class="container">
    <span class="text-color">
      
    </span>
  </div>
</div>




<!-- <div class="main">
  <div class="container-fluid">
    <div class="container top">
      <div class="row mt-4">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="col">
            <img
              src="../../../assets/images/Samakkhi_Witthayakhom_School_Library.jpg"
              alt
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="col home">
            <h2 class="heading">
              Welcome to the
              <span class="xtra">Pradesh Proffesional
                <br>
                 School</span>
            </h2>
          </div>
          <div class="col">
            <p class="paragraph">
              If you have a garden and a library, you have everything you need-
              "Education is not preparation for life; education is life
              itself."—John Dewey The book worms can get loads of books to read
              from and enhance their knowledge A library is a place where many
              books are kept.
              <strong>
                As gateways to knowledge and culture, libraries play a
                fundamental role in society.</strong
              >
              "Nothing is pleasanter than exploring a library." School library
              media centers in the 21st century can, and should be, hubs for
              increased student achievement and positive focused school reform.
              <br />
              The school library media center program is a collaborative venture
              in which school library media specialists, teachers, and
              administrators work together to provide opportunities for the
              social, cultural, and educational growth of students. Activities
              that are part of the school library media program can take place
              in the school library media center, the laboratory classroom,
              through the school, and via the school library's online resources
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container top">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="col">
            <h1><strong>Why we are best in Market</strong></h1>
          </div>
          <div class="col price">
            <ul class="smooth">
              <li class="text">Reasonable Priced</li>
              <li class="text">No Hidden Charges</li>
              <li class="text">Flexible Locations</li>
              <li class="text">Great Availability of Teachers</li>
              <li class="text">Coorprative Staff</li>
              <li class="text">Well Maintained Infrastructure</li>
              <li class="text">Every Facility Provide For the Student</li>
              <li class="text">Schoolership provide for the needed children</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <img
            src="../../../assets/images/axresdefault.jpg"
            alt
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <div class="container top">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <img
            src="../../../assets/images/StaffRoom.jpg"
            alt
            class="img-fluid"
          />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="col">
            <h3>
              <strong>How Does Our Team Work</strong>
            </h3>
          </div>
          <div class="col">
            <p class="paragraph">
              Our entire team has been working hard for many years.Schools are
              the first institution where a child learns about others, and
              that's why teamwork and cooperation are crucial for developing
              their ability to succeed in both academic and social contexts, and
              there is no better way to teach something than to live it
              yourself.“Education is the passport to the future, for tomorrow
              belongs to those who prepare for it today.”School is the basic
              foundation of knowledge being imparted to a child. It gives a
              chance to children to acquire knowledge on various fields of
              education, such as people, literature, history, mathematics,
              politics, and other numerous subjects.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



































































































































































<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let image of image; let i = index" [class]="i === currentSlideIndex ? 'carousel-item active' : 'carousel-item'">
      <img [src]="image.url" [alt]="image.alt" class="d-block w-100">
    </div>
  </div>
<div class="carousel-content">
  <div class="container style">
  <h3 class="heading text-center">
    WELCOME TO THE DEOL CAR & TRUCK
    <span class="text-color">Rentals</span>
  </h3>
</div>
  <form  [formGroup]="searchForm" (ngSubmit)="onClickSearch()">
   <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-xs-4 col-lg-6" >
        <select class="form-select" aria-label="Default select example" formControlName="pickuplocation" class="form-select selectclass"
         required  [ngClass]="{
          'invalid-input':
          searchForm.get('pickuplocation')?.invalid &&
            (searchForm.get('pickuplocation').touched || isSubmitForm)
        }">
          <option value="" selected>Select Pickup location </option>
          <option *ngFor="let item of locationList" [value]="item.id">{{ item.name }}</option>
        </select>
        <div
        class="error-input"
        *ngIf="searchForm.get('pickuplocation')?.invalid && isSubmitForm"
      >
      </div>
      </div>
      <div class="col-sm-6 col-md-6 col-xs-4 col-lg-6">
        <input class="form-control selectclass" type="datetime-local" formControlName="datepicker"min="{{dateToday() | date:'yyyy-MM-ddTHH:mm:ss'}}"/> 
      </div>
    </div>
    <div class="row mt-2" >
      <div class="col-sm-6 col-md-6 col-xs-4 col-lg-6" *ngIf="searchForm.get('pickuplocation')?.value">
        <select class="form-select" aria-label="Default select example" type="text" formControlName="dropdownlocation" class="form-select selectclass" required  [ngClass]="{
          'invalid-input':
          searchForm.get('pickuplocation')?.invalid &&
            (searchForm.get('pickuplocation').touched || isSubmitForm)}" 
        >
          <option value="" selected>Select Drop location</option>
          <option *ngFor="let location of locationList" [value]="location.id">{{ location.name }}</option>
        </select>
      </div>
      <div class="col-sm-6 col-xs-4 col-md-6 col-lg-6" *ngIf="searchForm.get('pickuplocation')?.value">
        <input class="form-control" type="datetime-local" formControlName="pickupdate"min="{{searchForm.value.datepicker | date:'yyyy-MM-ddTHH:mm:ss'}}"   required  [ngClass]="{
          'invalid-input':
          searchForm.get('pickuplocation')?.invalid &&
            (searchForm.get('pickuplocation').touched || isSubmitForm)}" 
        >
      
      </div>
    </div>
    <div class="row  mt-2" *ngIf="searchForm.get('pickuplocation')?.value">
      <div class="col-sm-6 col-xs-4 col-md-6 col-lg-6"  >
        <select class="form-select" aria-label="Default select example" formControlName="all" class="form-select selectclass"required  [ngClass]="{
          'invalid-input':
          searchForm.get('pickuplocation')?.invalid &&
            (searchForm.get('pickuplocation').touched || isSubmitForm)}" 
        >
          >
          <option value="all" selected>All</option>
          <option *ngFor="let vehicle of vehicleName" [value]="vehicle._id">{{vehicle.categoryName }}</option>
        </select>
        <div class="error-input" *ngIf="searchForm.get('all')?.invalid && isSubmitForm">
          Selection is required.
        </div>
      </div>
    </div>
  </div>
    <div class="mt-2 col-sm-12">
      <button type="submit" class="colorbuttton">
        Search <img src="../../assets/arrow_outward.png" >
      </button>
    </div>
  </form>
</div>
</div>


<div class="container-fluid container mt-5">
  <div class="text-center">
    <h3 class="choose">WHY CHOOSE US</h3>
    <div class="row mt-4" >
      <div class="col-xl-4 col-lg-4 col-md-6 main-box" *ngFor="let item of customerDetails">
      <div class="box"> 
        <div class="col mt-4">
          <img [src]="item.img" alt width="100px" />
        </div>
        <div class="col-mt-3">
          <h4 class="head mt-3">{{ item.heading }}</h4>
          <p class="p-3">{{ item.about }}</p>
        </div>
      </div>
    </div> 
    </div>
  </div>
</div>

<div class="container head mt-5">
  <div class="container-fluid">
    <div class="row justify-content:center">
      <h2 class="heading2 text-center">OUR LOCATIONS</h2>
      <div
        class=" col-sm-6 col-md-6 mt-4 col-lg-3 mt-4 right"
        *ngFor="let item of location"
      >
        <div class="col location d-flex p-3"
          [style.backgroundImage]="'url(' + imagePath +item.imageUrl+ ')'">
          <div class="mainclass">
          
              <h5 class="text">{{ item.name | titlecase}}</h5>
            
            <div class="arrow" tabindex="0"  (click)="onLocation(item.id)" [routerLink]="['/location/'+item.id]">
              <img src="../../assets/Vector.png" alt class="imagevector">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="main mt-5">
  <div class="container-fluid imageClass " style="background-image:url(/assets/bg-1.png)">
    
    <div class="row">
      <div class="col-sm-12 col-md-6 text-center">
        <div class="col mountain" >
          <img src="/assets/718_neu_2023 1.png" alt class="image" />
          
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="col mt-4">
          <h3 class="heading-1">
            What DO You
            <span class="detail">Know About Us</span>
          </h3>
          <p class="paragraph">
            Get the best car and truck hire deals in your Budget deol.com.au
            offers the best Car & Truck rental service in Melbourne, Sydney,
            Adelaide. We have over 200+ Vehicles in Australia. Wherever you are,
            we’ll set you up with best deal suited for you. Simply book online
            or on Call. We make it easy to rent a Truck & Car in Australia! Our
            all Trucks & Cars are in New Condition & well maintained
          </p>
          <button type="button" class="btn" (click)="onCompany()">
            OUR COMPANY
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="Clientreview">
    <div class="container-fluid text-center">
      <div class="row clientContainer">
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
          <div class="col-12">
            <img src="/assets/clientimg.png" width="1000px" class="img-fluid" />
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
          <div class="client image-satisfied">
            <h2 class="lighttitile">SATISFIED CLIENT</h2>
          </div>
          <div classs="text-client">
            <h4 class="headingclass">WHAT OUR CLIENT SAY</h4>
          </div>
        </div>
        <div class="container">
          <div class="rowwidth d-flex reviewContainer">
            <div class="col-1 clientImage">
              <img
                src="../../assets/Group 138.png"
                width="64"
                height="64"
                alt
                class="slider img-fluid"
              />
            </div>
            <div class="col-10 card colorcard">
              <div class="card-body">
                <div class="col-12 mt-1">
                  <p>
                    One of the best car rental in Melbourne. Staff are so
                    helpful and the price are so best in the market.
                  </p>
                </div>
                <div class="row text-center">
                  <div class="col-6 mt-4 d-flex climage">
                    <img
                      src="/assets/Rectangle.png"
                      alt
                      width="64"
                      height="64"
                      class="image-fluid"
                    />
                    <p>Penny Jangra</p>
                  </div>
                  <div class="col-6 mt-4 text-start">
                    <img
                      src="/assets/stactic_image.png"
                      alt
                      width="40%"
                      height="100%"
                      class="clientimage img-fluid"
                    />
                  </div>
                </div>
                
              </div>
             
              
            </div>
            <div class="col-1 clientImage">
              <img
                src="../../assets/aaGroup.ong.png"
                width="64px"
                height="64px"
                alt
                class="reviewiconright  image-fluid"
              />
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->